.header {
  box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 8px;
  z-index: 4;
  position: sticky;
  top: 0;
  background-color: #F2F2F2;
}

@media(max-width:780px) {

  .header {
    background: black;
    height: 68px;
  }

  .logo_title::after {
    border-left: transparent;
    border-bottom: transparent;
  }

  .mobil_icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 70%;
    height: 80%;
    width: 45px;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    right: 0px;
    text-align: right;
    background: black;
    color: white;
    width: 100%;
    padding: 17px;
    margin: 0;
    transition: 0.3s;
  }

  .menu.show__menu {
    right: -100%;
    transition: 0.3s;
  }

  .menu_link {
    position: relative;
    width: 100%;
    padding: 10px 0px;
  }

  .menu_link a {
    color: white;
    font-size: 20px;
  }

  .submenu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px !important;
    padding-top: 16px !important;
  }

}