.header {
  box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 8px;
  background-color: white !important;
  z-index: 2;
  position: relative;
}

.navigation {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 14px 0px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo_ref {
  position: relative;
}

.logo_title {
  position: absolute;
  text-decoration: none;
  color: white;
  background: black;
  display: inline-block;
  padding: 17px 21px;
  font-size: 32px;
  margin: 0;
  top: -18px;
  font-family: 'Century';
  letter-spacing: 1px;
}

.logo_title:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -2px;
  border-left: 15px solid transparent;
  border-bottom: 24px solid white;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  color: black;
  max-width: 87%;
}

.menu {
  font-size: 14px;
}

.menu_link {
  position: relative;
  width: 100%;
}

.menu_link a {
  text-decoration: none;
  color: black;
}

/** Sub menu */
.submenu {
  position: absolute;
  z-index: 2;
  background: white;
  padding: 0px;
  border-top: solid 4px;
  top: 24px;
  list-style: none;
  max-height: 0px;
  transition: 0.35s;
  width: 120px;
  overflow: hidden;
  background-color: black;
}

.menu_link:hover .submenu {
  padding: 10px;
  z-index: 2;
  max-height: 1000px;
  transition: 0.35s ease-in;
}

.submenu_link {
  margin-bottom: 8px;
  border-bottom: solid 1px white;
  padding-bottom: 5px;
}

.submenu_link a {
  color: white;
  font-size: 12px;
}