/** Section ACCEDE A NUESTRO CURSO GRATUITO */

.form_section {
  padding: 100px 0px;
  max-width: 90%;
  margin: auto;
}

.section_title {
  text-align: center;
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 38px;
}

.form_content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.forms {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding: 27px 37px 18px;
}

.forms input,
.forms select {
  width: 90%;
}

/** Btn vibration */

.btn_content {
  text-align: center;
}

.btn_content a {
  background: black;
  color: white;
}

@media(max-width:780px) {
  .form_section {
    padding: 25px 0px;
  }

  .section_title {
    font-size: 19px;
  }

  .form_content {
    display: block;
  }

  .forms {
    padding: 20px 14px 18px;
  }

  .more_info {
    max-width: 100%;
  }

  .more_info_content {
    padding-top: 29px;
  }
}