.form {
  min-height: 360px;
}

.form input,
.form select {
  border: none;
  background: transparent;
  font-size: 22px;
  border-bottom: 1px solid;
  font-style: italic;
  padding: 12px;
  color: black;
}

.form input::placeholder {
  color: #000;
}

.terms {
  font-size: 14px;
  padding: 20px 0px;
}

.buton {
  font-size: 18px;
  background-color: #000;
  color: white;
  border: none;
  padding: 9px 28px;
}


.acceptTerms {
  width: 22px !important;
}