/* [project]/node_modules/normalize.css/normalize.css [app-client] (css) */
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted buttontext;
}

[type="button"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

[type="reset"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
  max-width: 100%;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

/* [project]/styles/globals.css [app-client] (css) */
@font-face {
  font-family: segoe;
  src: url("../media/SegoeUI-Bold.4157b13b.eot");
  src: url("../media/SegoeUI-Bold.4157b13b.eot") format("embedded-opentype"), url("../media/SegoeUI-Bold.c29fea89.woff2") format("woff2"), url("../media/SegoeUI-Bold.4eede427.woff") format("woff"), url("../media/SegoeUI-Bold.540c8094.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica LT Std;
  src: url("../media/subset-HelveticaLTStd-Light.d48dfb31.eot");
  src: url("../media/subset-HelveticaLTStd-Light.d48dfb31.eot") format("embedded-opentype"), url("../media/subset-HelveticaLTStd-Light.38560bd6.woff2") format("woff2"), url("../media/subset-HelveticaLTStd-Light.f6b6302c.woff") format("woff"), url("../media/subset-HelveticaLTStd-Light.fe8f2c07.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica LT Std;
  src: url("../media/subset-HelveticaLTStd-LightObl.7c696343.eot");
  src: url("../media/subset-HelveticaLTStd-LightObl.7c696343.eot") format("embedded-opentype"), url("../media/subset-HelveticaLTStd-LightObl.7e69c1bc.woff2") format("woff2"), url("../media/subset-HelveticaLTStd-LightObl.142217c3.woff") format("woff"), url("../media/subset-HelveticaLTStd-LightObl.59a98803.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Century;
  src: url("../media/Century.68b8f692.eot");
  src: url("../media/Century.68b8f692.eot") format("embedded-opentype"), url("../media/Century.4fb02f01.woff2") format("woff2"), url("../media/Century.0d2f7d96.woff") format("woff"), url("../media/Century.47f52c38.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  background-color: #fff;
}

body {
  background-color: #f2f2f2;
  max-width: 1880px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: segoe;
}

span, p, label, ::placeholder, ul, li, select, button, input, a {
  font-family: Helvetica LT Std;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #000;
  z-index: 10;
  background: #fff;
  border-radius: 38px;
  padding: 9px 14px;
  position: relative;
  top: 47px;
  left: 12px;
  font-size: 19px !important;
}

.swiper-button-next:after {
  left: -23px;
}

.content_form {
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-top: 80px;
  display: grid;
}

@media (max-width: 780px) {
  .content_form {
    grid-template-columns: 1fr;
  }
}

body {
  --wp--preset--color--black: #000;
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
}

.has-small-font-size {
  font-size: var(--wp--preset--font-size--small);
}

.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium);
}

.has-large-font-size {
  font-size: var(--wp--preset--font-size--large);
}

/* [project]/components/header/Header.module.css [app-client] (css) */
.Header-module__-2yUHq__header {
  z-index: 4;
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px #0000002b;
}

@media (max-width: 780px) {
  .Header-module__-2yUHq__header {
    background: #000;
    height: 68px;
  }

  .Header-module__-2yUHq__logo_title:after {
    border-bottom: #0000;
    border-left: #0000;
  }

  .Header-module__-2yUHq__mobil_icon {
    width: 45px;
    height: 80%;
    display: block;
    position: absolute;
    top: 70%;
    right: 10px;
  }

  .Header-module__-2yUHq__menu {
    text-align: right;
    color: #fff;
    background: #000;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 17px;
    transition: all .3s;
    position: absolute;
    right: 0;
  }

  .Header-module__-2yUHq__menu.Header-module__-2yUHq__show__menu {
    transition: all .3s;
    right: -100%;
  }

  .Header-module__-2yUHq__menu_link {
    width: 100%;
    padding: 10px 0;
    position: relative;
  }

  .Header-module__-2yUHq__menu_link a {
    color: #fff;
    font-size: 20px;
  }

  .Header-module__-2yUHq__submenu {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding: 16px 0 0 !important;
  }
}

/* [project]/components/header/Menu/Menu.module.css [app-client] (css) */
.Menu-module__VqjLsq__navigation {
  z-index: 2;
  grid-template-columns: 20% 80%;
  padding: 14px 0;
  display: grid;
  position: sticky;
  top: 0;
}

.Menu-module__VqjLsq__logo_ref {
  position: relative;
}

.Menu-module__VqjLsq__logo_title {
  color: #fff;
  letter-spacing: 1px;
  background: #000;
  margin: 0;
  padding: 17px 21px;
  font-family: Century;
  font-size: 32px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: -18px;
}

.Menu-module__VqjLsq__logo_title:after {
  content: "";
  border-bottom: 24px solid #f2f2f2;
  border-left: 15px solid #0000;
  position: absolute;
  bottom: -1px;
  right: -2px;
}

.Menu-module__VqjLsq__menu {
  text-transform: uppercase;
  color: #000;
  justify-content: space-around;
  max-width: 87%;
  font-size: 14px;
  list-style: none;
  display: flex;
}

.Menu-module__VqjLsq__menu_link {
  width: 100%;
  position: relative;
}

.Menu-module__VqjLsq__menu_link a {
  color: #000;
  letter-spacing: 1.5px;
  font-weight: 900;
  text-decoration: none;
}

.Menu-module__VqjLsq__submenu {
  z-index: 2;
  background: #000;
  border-top: 4px solid;
  width: 120px;
  max-height: 0;
  padding: 0;
  list-style: none;
  transition: all .35s;
  position: absolute;
  top: 24px;
  overflow: hidden;
}

.Menu-module__VqjLsq__menu_link:hover .Menu-module__VqjLsq__submenu {
  z-index: 2;
  max-height: 1000px;
  padding: 10px;
  transition: all .35s ease-in;
}

.Menu-module__VqjLsq__submenu_link {
  border-bottom: 1px solid #fff;
  margin-bottom: 8px;
  padding-bottom: 5px;
}

.Menu-module__VqjLsq__submenu_link a {
  color: #fff;
  font-size: 12px;
}

.Menu-module__VqjLsq__mobil_icon {
  display: none;
}

@media (max-width: 780px) {
  .Menu-module__VqjLsq__header {
    background: #000;
    height: 68px;
  }

  .Menu-module__VqjLsq__logo_title:after {
    border-bottom: #0000;
    border-left: #0000;
  }

  .Menu-module__VqjLsq__mobil_icon {
    width: 45px;
    height: 80%;
    display: block;
    position: absolute;
    top: 70%;
    right: 10px;
  }

  .Menu-module__VqjLsq__menu {
    text-align: right;
    color: #fff;
    background: #000;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 17px;
    transition: all .3s;
    position: fixed;
    top: 67px;
    right: -100%;
  }

  .Menu-module__VqjLsq__showMenu {
    transition: all .3s;
    right: 0 !important;
  }

  .Menu-module__VqjLsq__line_menu {
    transition: all .35s;
  }

  .Menu-module__VqjLsq__showMenu .Menu-module__VqjLsq__line__top {
    top: inherit;
    top: 10px;
    transform: rotate(45deg);
  }

  .Menu-module__VqjLsq__showMenu {
    opacity: 1;
  }

  .Menu-module__VqjLsq__showMenu .Menu-module__VqjLsq__line__middle {
    opacity: 0;
  }

  .Menu-module__VqjLsq__line__botton {
    top: inherit;
    transform: rotate(0);
  }

  .Menu-module__VqjLsq__showMenu .Menu-module__VqjLsq__line__botton {
    top: 10px;
    transform: rotate(-45deg);
  }

  .Menu-module__VqjLsq__menu_link {
    width: 100%;
    padding: 5px 0;
    position: relative;
  }

  .Menu-module__VqjLsq__menu_link a {
    color: #fff;
    font-size: 16px;
  }

  .Menu-module__VqjLsq__submenu {
    border: none;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding: 0 !important;
  }

  .Menu-module__VqjLsq__mobil_icon {
    width: 45px;
    height: 80%;
    transition: all .35s;
    display: block;
    position: absolute;
    top: 70%;
  }

  .Menu-module__VqjLsq__line_menu {
    background-color: #fff;
    border-radius: 5px;
    width: 78%;
    height: 3px;
    position: absolute;
  }

  .Menu-module__VqjLsq__line__top {
    top: auto;
  }

  .Menu-module__VqjLsq__line__middle {
    top: 50%;
  }

  .Menu-module__VqjLsq__line__botton {
    top: 100%;
  }
}

/* [project]/components/footer/Footer.module.css [app-client] (css) */
.Footer-module__NVhknq__content {
  background-color: #000;
}

.Footer-module__NVhknq__paragraph {
  color: #fff;
  max-width: 90%;
  margin: auto;
  padding: 25px 0;
  font-size: 12px;
}

/* [project]/components/text-call-to-action/style.module.css [app-client] (css) */
.style-module__TO2-Pq__text_form {
  max-width: 80%;
  margin: auto;
}

.style-module__TO2-Pq__form_text {
  background: #d9d9d9;
  height: 380px;
  margin: auto;
  display: flex;
}

.style-module__TO2-Pq__form_content {
  max-width: 80%;
  margin: auto;
}

.style-module__TO2-Pq__form_title {
  margin: 0;
  font-size: 30px;
}

.style-module__TO2-Pq__from_description {
  max-width: 80%;
  font-size: 18px;
}

@media (max-width: 780px) {
  .style-module__TO2-Pq__form_title {
    margin: 0;
    font-size: 23px;
  }
}

/* [project]/components/footer/Aliados/aliados.module.css [app-client] (css) */
.aliados-module__-bCvyq__aliados__title {
  color: #fff;
  margin-bottom: 5px;
}

.aliados-module__-bCvyq__aliados {
  background: var(--wp--preset--color--black);
}

.aliados-module__-bCvyq__aliados__content {
  max-width: 90%;
  margin: auto;
  padding: 25px 0;
}

.aliados-module__-bCvyq__aliados__logos {
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  display: flex;
}

.aliados-module__-bCvyq__aliados__logo_ninja {
  object-fit: contain;
  width: 208px;
  height: 70px;
}

.aliados-module__-bCvyq__aliados__logo_kinecktik {
  object-fit: contain;
  background-color: #fff;
  width: 167px;
  height: 47px;
  padding: 8px;
}

@media (max-width: 780px) {
  .aliados-module__-bCvyq__aliados_aliados__title {
    text-align: center;
  }

  .aliados-module__-bCvyq__aliados__logos {
    justify-content: center;
    gap: 0;
  }
}

/* [project]/components/form/Form.module.css [app-client] (css) */
.Form-module__Dip6xq__form {
  min-height: 360px;
}

.Form-module__Dip6xq__form input, .Form-module__Dip6xq__form select {
  color: #000;
  background: none;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  padding: 12px;
  font-size: 22px;
  font-style: italic;
}

.Form-module__Dip6xq__form input::placeholder {
  color: #000;
}

.Form-module__Dip6xq__terms {
  padding: 20px 0;
  font-size: 14px;
}

.Form-module__Dip6xq__buton {
  color: #fff;
  background-color: #000;
  border: none;
  padding: 9px 28px;
  font-size: 18px;
}

.Form-module__Dip6xq__acceptTerms {
  width: 22px !important;
}

@media (max-width: 780px) {
  .Form-module__Dip6xq__form {
    max-width: 90%;
    min-height: 380px;
    margin: auto;
    overflow: hidden;
  }

  .Form-module__Dip6xq__content_form {
    max-height: 250px;
  }
}

.Form-module__Dip6xq__displayNone {
  display: none;
}

/* [project]/components/whats-btn/whatsbtn.module.css [app-client] (css) */
.whatsbtn-module__KPKcoq__whatsapp_btn {
  z-index: 9;
  color: #fff;
  cursor: pointer;
  background-color: #25d366;
  border-radius: 20px 0 0 20px;
  margin: 0;
  padding: 6px 14px 6px 16px;
  font-size: 40px;
  line-height: 0;
  transition: all .35s;
  position: fixed;
  top: 75%;
  right: 0;
  box-shadow: 0 4px 4px #00000040;
}

/*# sourceMappingURL=_b203b336._.css.map*/