.content {
  background-color: black;
  padding: 100px 0px;
  text-align: center;
  color: white;
}

.title {
  color: white;
}

.content_slider {
  max-width: 85%;
  margin: auto;
}

.testimonial {
  display: flex;
  gap: 4%;
  justify-content: center;
  align-items: center;
}

.testimonial_text {
  text-align: center;
  font-size: 25px;
}

.testimonial_name {
  text-align: right;
}