.content {
  background-color: black;
  padding: 100px 0px;
  text-align: center;
  color: white;
}

.title {
  color: white;
}

.content_slider {
  max-width: 85%;
  margin: auto;
}

.testimonial {
  display: flex;
  gap: 4%;
  justify-content: center;
  align-items: center;
}

.testimonial_text {
  text-align: center;
  font-size: 25px;
}

.testimonial_name {
  text-align: right;
}

@media(max-width:780px) {

  .testimonial {
    display: block;
  }

  .content {
    padding: 26px 0px;
  }

  .title {
    font-size: 18px;
  }

  .testimonial_video__html iframe {
    width: 100%;
  }

}