.content_post {
  max-width: 80%;
  margin: auto;
}

.shared_content {
  text-align: right;
}

.content_image {
  overflow: hidden;
}

.post_imagen {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.content_post iframe {
  width: 100%;
}

.content_post p {
  font-size: 20px;
}