.content_post {
  max-width: 80%;
  margin: auto;
}

.shared_content {
  text-align: right;
}

.content_image {
  overflow: hidden;
}

.post_imagen {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.content_post iframe {
  width: 100%;
  max-height: 70vh;
}

.content_post p {
  font-size: 20px;
}

@media(max-width:780px) {

  .content_post {
    max-width: 98%;
  }

  .post_imagen {
    height: auto;
  }
}