/** Global styles  */

/** Register fonts */
@font-face {
  font-family: 'segoe';
  src: url('../public/fonts/segoe/SegoeUI-Bold.eot');
  src: url('../public/fonts/segoe/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/segoe/SegoeUI-Bold.woff2') format('woff2'),
    url('../public/fonts/segoe/SegoeUI-Bold.woff') format('woff'),
    url('../public/fonts/segoe/SegoeUI-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.eot');
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.woff2') format('woff2'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.woff') format('woff'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.eot');
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.woff2') format('woff2'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.woff') format('woff'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Century';
  src: url('../public/fonts/century/Century.eot');
  src: url('../public/fonts/century/Century.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/century/Century.woff2') format('woff2'),
    url('../public/fonts/century/Century.woff') format('woff'),
    url('../public/fonts/century/Century.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
  max-width: 1880px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'segoe';
  text-transform: uppercase;
  letter-spacing: 3px;
}

span,
p,
label,
::placeholder,
ul,
li,
select,
button,
input,
a {
  font-family: 'Helvetica LT Std';
}

/** Slider */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  background: white;
  padding: 9px 14px;
  border-radius: 38px;
  position: relative;
  z-index: 10;
  left: 12px;
  top: 47px;
  font-size: 19px !important;
}

.swiper-button-next:after {
  left: -23px;
}

/** ====== Form layout ======= */
.content_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 55px;
}

@media(max-width:780px) {
  .content_form {
    grid-template-columns: 1fr;
  }
}

/** Gutenberg var **/

body {
  --wp--preset--color--black: #000000;
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
}

.has-small-font-size {
  font-size: var(--wp--preset--font-size--small);
}

.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium);
}

.has-large-font-size {
  font-size: var(--wp--preset--font-size--large);
}
html, body {
  filter: none !important;
}
