/** Global styles  */

/** Register fonts */
@font-face {
  font-family: 'HYPE';
  src: url('../public/fonts/HYPE/subset-HYPE.eot');
  src: url('../public/fonts/HYPE/subset-HYPE.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/HYPE/subset-HYPE.woff2') format('woff2'),
    url('../public/fonts/HYPE/subset-HYPE.woff') format('woff'),
    url('../public/fonts/HYPE/subset-HYPE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.eot');
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.woff2') format('woff2'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.woff') format('woff'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.eot');
  src: url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.woff2') format('woff2'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.woff') format('woff'),
    url('../public/fonts/HelveticaLTStd/subset-HelveticaLTStd-LightObl.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Century';
  src: url('../public/fonts/century/Century.eot');
  src: url('../public/fonts/century/Century.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/century/Century.woff2') format('woff2'),
    url('../public/fonts/century/Century.woff') format('woff'),
    url('../public/fonts/century/Century.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F2F2F2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HYPE';
}

span,
p,
label,
::placeholder,
ul,
li,
select,
button,
input,
a {
  font-family: 'Helvetica LT Std';
}

body {
  max-width: 1880px;
  margin: auto;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.50);
}

/** Slider */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  background: white;
  padding: 9px 14px;
  border-radius: 38px;
  position: relative;
  z-index: 10;
  left: 12px;
  top: 47px;
  font-size: 19px !important;
}

.swiper-button-next:after {
  left: -23px;
}